:root {
  --black: #121416;
}

body {
  display: flex;
  background-color: var(--black);
}

nav {
  width: 300px;
  --margin: 2vh;
  margin: var(--margin);
  height: calc(100vh - var(--margin) * 2);
}

nav > div[value] {
  cursor: pointer;
}

#root {
  width: calc(100vw - 300px);
  --margin: 2vh;
  margin: var(--margin);
  height: calc(100vh - var(--margin) * 2);
}

#tabelBerita {
  width: 100%;
}

.drop-area {
  border-style: dashed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
